*{
    margin: 0;
}
/* header style 3 */
/* .banner{
    background-image: url(/images/banner/banner3.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px 150px 106px 575px;
    position: relative;
    overflow: hidden;
    transform: scaleX(-1); 
    
}

.banner-container{
    text-align: left;
    padding-bottom: 100px;
    transform: scaleX(-1);   
}
.banner-heading{
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}
.banner-text{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 32px;
    padding-right: 18%;
}
.banner-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    padding: 20px 25px;
    border: 0;
} */

/* header style 2 */
header{
    margin-bottom: 139px;
}
.banner{
    background-image: url(/images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 150px 106px 575px;
    position: relative;
    overflow: hidden;
    transform: scaleX(-1); 
    
}

.banner-container{
    text-align: left;
    padding-bottom: 100px;
    transform: scaleX(-1);   
}
.banner-heading{
    color: var(--dark-01, #151414);
    font-size: 60px;
    font-weight: 700;
}
.banner-text{
    color: var(--dark-02, #444343);
    font-size: 16px;
    margin-bottom: 32px;
    padding-right: 18%;
}
.banner-btn{
    color: #FFF;;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    border: 0;
}
/* failure section */
.failure-section{
    padding: 0 150px;
    margin-bottom: 139px;
}
.failure-container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.failure-title{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.failure-description{
    color: var(--dark-02, #444343);
    margin-bottom: 16px;
}
ul {
    list-style: none;
    padding-left: 0;
    color: var(--dark-02, #444343);

}
ul li{
    margin-bottom: 8px;
    display: flex;
    align-items: center;

}
ul li .lni {
    margin:0 10px 0 0;
    font-size: 25px;
    color: #16D887;
    font-weight: bolder;

}
/* plan container style */
.my-plans{
    padding: 0 150px;
    margin-bottom: 139px;
}
.plan-title{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 80px;
}
.plan-subtitle{

    color: var(--dark-01, #151414);
    font-size: 25px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-description{
    color: var(--dark-03, #737272);
    font-size: 18px;
    font-weight: 500;
}
/* positive styles */
.positive{
    padding: 0 150px;
    margin-bottom: 139px;
    
}
.positive-container{
    /* using a background image and transparent linear gradient property and value */
    background-image: linear-gradient(to right, rgb(255, 72, 0), rgba(255,0,0,0)),url(/images/watch.png);

    /* using two background image and 2nd one is itself a linear gradient image. for thi case must use background-blend-mode property and value */
   /*  background-image: url(/images/watch.png) , url(/images/gradient3.png);
    background-blend-mode: overlay; */

    padding: 60px 617px 60px 64px;
    background-size: cover;
    border-radius: 8px;
    
}
.positive-elements{
    text-align: left;

}
.positive-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.white-btn{
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}
/* footer style */