*{
    margin: 0;
}
/* header style 3 */
/* .banner{
    background-image: url(/images/banner/banner3.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px 150px 106px 575px;
    position: relative;
    overflow: hidden;
    transform: scaleX(-1); 
    
}

.banner-container{
    text-align: left;
    padding-bottom: 100px;
    transform: scaleX(-1);   
}
.banner-heading{
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}
.banner-text{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 32px;
    padding-right: 18%;
}
.banner-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    padding: 20px 25px;
    border: 0;
} */

/* header style 2 */
header{
    margin-bottom: 139px;
}
.banner{
    background-image: url(/images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 150px 106px 575px;
    position: relative;
    overflow: hidden;
    transform: scaleX(-1); 
    
}

.banner-container{
    text-align: left;
    padding-bottom: 100px;
    transform: scaleX(-1);   
}
.banner-heading{
    color: var(--dark-01, #151414);
    font-size: 60px;
    font-weight: 700;
}
.banner-text{
    color: var(--dark-02, #444343);
    font-size: 16px;
    margin-bottom: 32px;
    padding-right: 18%;
}
.banner-btn{
    color: #FFF;;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    border: 0;
}
/* failure section */
.failure-section{
    padding: 0 150px;
    margin-bottom: 139px;
}
.failure-container{
    display: flex;
    align-items: center;
    gap: 80px;
}

.failure-title{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.failure-description{
    color: var(--dark-02, #444343);
    margin-bottom: 16px;
}
ul {
    list-style: none;
    padding-left: 0;
    color: var(--dark-02, #444343);

}
ul li{
    margin-bottom: 8px;
    display: flex;
    align-items: center;

}
ul li .lni {
    margin:0 10px 0 0;
    font-size: 25px;
    color: #16D887;
    font-weight: bolder;

}